<%- include('layout/header.ejs') %>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto mt-4">
        <div class="card shadow">
          <div class="card header bg-success">
            <h3 class="text-light">Edit User (<%= user.name %>)</h3>
          </div>
          <form action="/update/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="exampleInputEmail1">Name</label>
              <input name="name" type="text" class="form-control form-control-lg" id="Name" aria-describedby="Name"
                placeholder="Enter Name" value="<%= user.name %>" />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1">Email address</label>
              <input name="email" type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="example@gmail.com" value="<%= user.email %>" />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1">Phone</label>
              <input name="phone" type="text" class="form-control" id="Phone" aria-describedby="Phone"
                placeholder="Enter Phone" value="<%= user.phone%>" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="customFile">Select Image</label>
              <input name="image" type="file" class="form-control form-control-lg" />
              <img src="/<%= user.image %>" alt="" width="100" class="img-thumbnail mt-1">
            </div>
            <input type="hidden" name="old_img" value="<%= user.image %>">
            <div class="mb-3 d-grid">
              <input name="edit" type="submit" value="update User" class="btn btn-success btn-lg" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('layout/footer.ejs') %>
  </div>